html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
@font-face {
  font-family: 'MyFont';
  src: url('fonts/myfont.ttf') format('truetype');
}

.bg{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-image: url(https://cloud-8lg3arssi-hack-club-bot.vercel.app/0image.png);
  background-size: cover;
  background-repeat: no-repeat; /*no repeat no grid of images when zoom out*/
  background-attachment: fixed; /*makes it stay at the same place*/
  background-position: center center; /*centers the image*/
  height:100%; 
}
.profile {
  width: 80px;
  height: 80px;
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover;
  object-position: center;
  margin-left: 10px;
  
}
.iconRow{
  margin-left: 0px;
}

.welcomeHeader{
  width: 100;
  display: flex; 
  align-items: center;
  cursor: move;
  margin-top: 8px;
  justify-content: flex-end;
  
}

#welcome{
  position: absolute;
  top:30%;
  left:35%;
  translate: 50%, 50%;
  
  padding:0;
  box-sizing: border-box;
  border-radius: 16px; 
  height: 25vh; 
  width: auto;
}
.artPhotos img { /* had to add the word img in there for it to work with Js idk..*/
  width: 300px; 
  height: auto; 
  margin: 0px auto; 
  border-radius: 16px;
}

.photoPhotos img{
  width: 300px;
  height: auto;
  margin: 5px;
  border-radius: 16px;
  justify-content: space-around;
  columns: 4;
  column-gap: 10px;
}
.box img{
  width: 230px;
  padding:20px;
  object-fit: contain;
  margin-bottom: 10px;

}
.transparentBg{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(50% - 90px);
  left: calc(50% - 180px);
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.125);
  border-radius: 16px;
}
.windowSize{
  width: 16px;
  margin-right: 6px;
  height: 26px;
}

.headerText{
  margin: 0px;
  color: #fff;
  font-weight: 500;
  width:50%;
  align-items: center;
}
.closeButton{
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-color: #C5726E;
  border-radius: 16px;
  justify-content: flex-end;
}
.artOpen{
  cursor: pointer;
}
.photosOpen{
  cursor: pointer;
}
.techOpen{
  cursor: pointer;
}
.pfpOpen{
  cursor: pointer;
}
.firstWindow{
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  transform: translate(-60%, -60%);
  border: 0.5rem outset #fafafa;
  outline: 0.5rem solid #6178bd;

  border-radius: 12px;
  font: bold 1rem sans-serif;
  font-size: 15px;
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.5rem;
  border-top: 0px;
}


#whiteBgContainer{
  display: flex;
  flex-direction: row; /*row layout for children homecontent and nav*/
  align-items: flex-start;
  gap: 16px;
  overflow:hidden;
  
}
#arts{
  translate: 50% 50%;
  left: 50%;
}
#photos{
  translate: 50% 50%;
  left: 50%;
}
#tech{
  translate: 50% 50%;
  left: 50%;
}

/* content in photo app inside white bg*/
#homeContent{
  
  flex-direction: row;
  max-height: 100%;
  overflow-y: scroll;
 
  display:inline-flexbox;
  
}
#photoHomeContent{
  flex-direction: row;
  max-height: 100%;
  overflow-y: scroll;

  display:inline-flexbox;
}

#techHomeContent{
  flex-direction: row;
  max-height: 100%;
  overflow-y: scroll;
  display:inline-flexbox;
}
#pfpHomeContent{
  flex-direction: row;
  max-height: 100%;
  overflow-y: scroll;
  display:inline-flexbox;
}
#nav{
  margin-top: 20px;
  background-color: #b3bdc2;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
  text-align: left;
  padding: 16px;
  box-sizing: border-box;
  width:150px;
  overflow-y: auto;
  max-height:100%; 
}
.hidden{
  display:none;
}

#homeContent{
  flex: 1;
  margin-left: 16px;
}

.head{
  font-size: 26px;
  margin: 10px;
  padding:0;
}

.desc{ 
  padding:10px; /* can use class name to do css*/
  margin:10px;
  background: linear-gradient(to bottom, rgb(77, 138, 219,.9) 0%, rgb(58, 42, 137,0.2) 100%);
  border-radius: 16px;
  color: #ffffff;
}
.desc p {
  margin: 0; /* Remove margin from paragraphs inside .desc */
  padding: 0; /* Remove padding from paragraphs inside .desc */
}