html {
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: 'MyFont';
  src: url('fonts/myfont.ttf') format('truetype');
}
.bg{
  background-image: url(https://cloud-8lg3arssi-hack-club-bot.vercel.app/0image.png);
  background-size: cover;
}
.profile {
  width: 80px;
  height: 80px;
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover;
  object-position: center;
  
}

.firstWindow{
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  transform: translate(-60%, -60%);
  border: 0.5rem outset #fafafa;
  outline: 0.5rem solid #6178bd;

  border-radius: 12px;
  font: bold 1rem sans-serif;
  font-size: 15px;
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.5rem;
  border-top: 0px;
}
.head{
  font-size: 26px;
}
.desc{ 
  padding:5px; /* can use class name to do css*/
  margin:10px;
  background: linear-gradient(to bottom, rgb(77, 138, 219,.9) 0%, rgb(58, 42, 137,0.2) 100%);
  border-radius: 16px;
  color: #ffffff;
}